<div class="repo text-center flex flex-row">
    <a class="flex justify-center w-1/2" href="https://github.com/{{ site.whoisclebs.social.github }}">
      <img class="dark:hidden repo-img-light w-100" alt="{{ social.github }}" src="https://github-readme-streak-stats.herokuapp.com/?user={{ site.whoisclebs.social.github }}&theme={{ site.repo_theme_light }}&show_icons=true">
      <img class="hidden dark:block repo-img-dark w-100" alt="{{ social.github }}" src="https://github-readme-streak-stats.herokuapp.com/?user={{ site.whoisclebs.social.github }}&theme=shades-of-purple&show_icons=true">
    </a>
    <a class="flex justify-center w-1/2" href="https://github.com/{{ site.whoisclebs.social.github }}">
      <img class="dark:hidden repo-img-light w-100" alt="{{ social.github }}" src="https://github-readme-stats-one-bice.vercel.app/api?username={{ site.whoisclebs.social.github }}&theme={{ site.repo_theme_light }}&show_icons=true">
      <img class="hidden dark:block repo-img-dark w-100" alt="{{ social.github }}" src="https://github-readme-stats-one-bice.vercel.app/api?username={{ site.whoisclebs.social.github }}&theme=shades-of-purple&show_icons=true">
    </a>
</div>